spring:
  datasource:
    url: jdbc:mysql://mysql:3306/banking_system?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&useUnicode=yes&characterEncoding=UTF-8
    username: root
    password: shivam73

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  kafka:
    bootstrap-servers: kafka:9092
